{% extends 'auth.html' %}
{% load static %}

{% block title %}Авторизация{% endblock title %}
{% block content %}
<form action="" method="post" class="form col-3 p-5 bg-white rounded-4">
    <h1 class="text-center mb-4">Авторизация</h1>
    {% csrf_token %}
    {% for field in form %}
        {{field}}
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
            <span class="error-message">{{message}}</span>
        {% endfor %}
    {% endif %}
    <div class="d-flex align-items-center justify-content-between">
        <button type="submit" class="login-button btn btn-primary">Войти</button>
        <a href="{% url 'signUp' %}" class="signup-redirect">Зарегистрироваться</a>
    </div>
</form>
{% endblock content %}