{% extends 'auth.html' %}
{% load static %}
{% block title %}Регистрация{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signUp.css' %}">
<form action="" method="post" class="form col-4 p-5 bg-white rounded-4">
    <h1 class="text-center mb-4">Регистрация</h1>
    {% csrf_token %}
    {% for field in form %}
        {{field}}
        {% for error in field.errors %}
            <span class="error-message">{{ error }}</span>
        {% endfor %}
    {% endfor %}
    {% for non_field_error in form.non_field_errors %}
        <span class="error-message">{{ none_field_error }}</span>
    {% endfor %}
    <div id="id_role" class="form-check d-flex align-items-center">
        <div>
        <label for="id_role_0" class="form-check-label"><input type="radio" name="role" value="Teacher" class="form-check-input" maxlength="255" required=True id="id_role_0">Я учитель</label>
        </div>
        <div>
            <label for="id_role_1" class="form-check-label"><input type="radio" name="role" value="Student" class="form-check-input ms-3 me-2" maxlength="255" required=True id="id_role_1">Я ученик</label>
        </div>
    </div>
    <label for="confirm-valid" class="label-check my-3 cursor-pointer">
        <input type="checkbox" id="confirm-valid" required class="form-check-input"> Я проверил правильность введенный данных
    </label>
    <button type="submit" class="submit-button btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock content %}