body {
	background-color: #fafafa;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs {
	position: relative;
}

.tabs__list {
	border: 2px solid rgb(13, 202, 240);
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.tabs__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.333%;
	background-color: rgb(13, 202, 240);
}

.tabs__btn {
	width: 100%;
	padding: 10px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	background-color: transparent;
}

.tabs__item:not(:last-child) {
	border-right: 2px solid rgb(13, 202, 240);
}

.tabs__item:hover .tabs__btn {
	background-color: #fff !important;
	color: rgb(13, 202, 240);
}

.tabs__btn--active {
	color: rgb(13, 202, 240);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	pointer-events: none;
	background-color: #fff !important;
}

.tabs__content {
	display: none;
	background-color: #fff;
}

.tabs__content--active {
	display: block;
}

.content__title {
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: var(--color-dark);
}

.content__descr {
	margin: 0;
	margin-bottom: 59px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark);
}

.content__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content__link {
	padding: 14px;
	width: 200px;
	height: 120px;
	display: inline-block;
	border-radius: 4px;
	background-color: #ebecf3;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.content__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #a2a6c0;
}

.tabs__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	background-color: var(--color-accent);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.tabs__arrow svg {
	pointer-events: none;
	fill: #fff;
	transition: fill 0.3s ease-in-out;
}

.tabs__arrow:hover {
	background-color: #fff;
}

.tabs__arrow:hover svg {
	fill: var(--color-accent);
}

.tabs__arrow--next {
	right: -204px;
}

.tabs__arrow--prev {
	left: -204px;
}