body {
    margin: 0;
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    background: rgb(100, 159, 219);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.form input {
    border-radius: 5px;
    padding: 5px;
}

.form h2 {
    margin: 5px;
}

.submit-button {
    margin: 5px;
}

.error {
    margin: 3px;
}

.error-message {
    color: red;
}