{% extends 'header.html' %}
{% block title %}Справочник{% endblock title %}
{% load replace %}
{% block content %}
<h1 class="mb-3">Справочник</h1>
{% for topic, info in topicDict.items %}
    <h2 class="fs-3 mb-3 mt-5 ">Тема {{forloop.counter}}. {{topic}}</h2>
        {% for term in info.0 %}
            <p class="mb-2 mt-0 fs-5"><span class="fw-bold" id="{{term.id}}">{{term.term}}</span>{{term.definition}}</p>
        {% endfor %}
        {% for date in info.1 %}
            <p class="mb-2 mt-0 fs-5"><span class="fw-bold" id="{{date.id}}">{{date.date}}</span>{{date.description}}</p>
        {% endfor %}
{% endfor %}
{% endblock content %}