{% extends 'header.html' %}
{% block title %}О платформе{% endblock title %}
{% block content %}
<div>
    <h1>Приветствуем вас на HisWay! </h1>
    <p>
    HisWay&nbsp;&mdash; это образовательная платформа по&nbsp;династии Романовых, разработанная студентами 
    УлГТУ Факультета информационных систем и&nbsp;технологий в&nbsp;рамках ежегодной недели науки. 
    Здесь вы&nbsp;можете узнать про одну из&nbsp;величайших династий, правившей Россией на&nbsp;протяжении 
    300&nbsp;лет.
    </p>
    <p>
        Целью нашего проекта является помощь заинтересованным в истории России людям.
    </p>
    <h2>Попав на наш сайт, перед вами открываются такие возможности:</h2>
    <ul>
        <li>
            Изучить статью по каждому из правителей династии Романовых.
        </li>
        <li>
            Пройти тест в конце каждой статьи, закрепив свои знания по ней.
        </li>
        <li>
            Вспомнить ключевые даты, связанные с этой династией.
        </li>
        <li>Узнать новые термины, которые могут ввести вас в ступор</li>
        <li>Пройти итоговый тест для закрепления изученного материала </li>
        <li>Отслеживать результаты своих тестов в личном кабинете</li>
    </ul>
    <p>
        Вся информация на нашей платформе представлена в понятной форме и с приятным дизайном.
    </p>
    <p>
        Мы надеемся, что наш проект сделает процесс вашего обучения комфортным и интересным.
    </p>
    <p>
        Приятного обучения =)
    </p>
</div>
{% endblock content %}