:root {
  --color-main: #0dcbf0;
  --color-white: #fff;
  --color-black: #323232
}

body,
html {
  height: 100%;
  width: 100%
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0dcbf0;
  background-color: var(--color-main);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0
}

#root,
.App {
  height: 100%
}

.App {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%
}

.title {
  color: #fff;
  color: var(--color-white);
  margin: 0
}

.window {
  background-color: #fff;
  background-color: var(--color-white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px
}

.window__counter {
  color: #959595;
  margin: 0
}

.window__small {
  color: #959595;
  font-size: 14px;
  margin: 0 5px 0 auto;
  transition: color .15s ease-in-out
}

.window__title {
  font-size: 35px;
  margin: 0
}

.window__list {
  list-style: none;
  margin: 30px 0 20px;
  padding: 0
}

.window__list--grid {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr)
}

.window__answer {
  align-items: center;
  border: 2px solid #323232;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  padding: 3px;
  transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out
}

.window__answer:not(:last-child) {
  margin: 0 0 10px
}

.window__answer:hover {
  background-color: #0dcbf0;
  background-color: var(--color-main);
  border-color: #0dcbf0;
  border-color: var(--color-main);
  color: #fff;
  color: var(--color-white)
}

.window__answer:hover .window__small {
  color: #fff
}

.window__answer--red {
  background-color: red;
  border-color: red
}

.window__answer--grid {
  color: #fff;
  color: var(--color-white);
  margin-bottom: 0 !important
}

.window__answer--grid:first-child {
  background-color: green;
  border-color: green
}

.window__answer--grid:first-child:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: green
}

.window__answer--grid:nth-child(2) {
  background-color: #b146ea;
  border-color: #b146ea
}

.window__answer--grid:nth-child(2):hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: #b145ea
}

.window__answer--grid:nth-child(3) {
  background-color: #3838ff;
  border-color: #3838ff
}

.window__answer--grid:nth-child(3):hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: #3838ff
}

.window__answer--grid:last-child {
  background-color: red;
  border-color: red
}

.window__answer--grid:last-child:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: red
}

.window--center {
  align-items: center;
  justify-content: center;
  text-align: center
}

.window__text {
  margin: 0 0 30px
}

.window__btn {
  background-color: #0dcbf0;
  background-color: var(--color-main);
  border: 2px solid #0dcbf0;
  border: 2px solid var(--color-main);
  border-radius: 5px;
  color: #fff;
  color: var(--color-white);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  width: 200px
}

.window__btn:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: #0dcbf0;
  color: var(--color-main)
}

.window__btn--fullwidth {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.window__btn--in-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 51.2px;
  position: absolute;
  right: 0;
  top: 20px
}

.window__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px
}

.window__link {
  border-bottom: 1px solid #323232;
  border-bottom: 1px solid var(--color-black);
  color: #323232;
  color: var(--color-black);
  cursor: pointer;
  transition: border-color .15s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.window__link:hover {
  border-color: #fff;
  border-color: var(--color-white)
}

.window__btns-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;
  position: relative;
  width: 100%
}

.window__answer-btn {
  align-items: center;
  border-radius: 5px;
  color: #fff;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  width: calc(50% - 5px)
}

.window__answer-btn--green {
  background-color: green;
  border: 2px solid green
}

.window__answer-btn--green:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: green
}

.window__answer-btn--red {
  background-color: red;
  border: 2px solid red
}

.window__answer-btn--red:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: red
}

.window__answer-btn--default {
  background-color: #0dcbf0;
  background-color: var(--color-main);
  border: 2px solid #0dcbf0;
  border: 2px solid var(--color-main)
}

.window__answer-btn--default:hover {
  background-color: #fff;
  background-color: var(--color-white);
  color: #0dcbf0;
  color: var(--color-main)
}

.window__descrs {
  margin: 20px 0 0
}

.window__descr {
  font-size: 18px;
  margin: 0
}

.window__descr:not(:last-child) {
  margin: 0 0 10px;
}

.window__icon {
  height: 30px;
  margin: 0 5px 0 0;
  width: 30px
}

.window__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.window__img {
  display: block;
  height: 100%;
  margin: 20px 0 0;
  width: 500px
}

.window__input {
  border: 2px solid #0dcbf0;
  border: 2px solid var(--color-main);
  border-radius: 5px;
  font-size: 17px;
  height: 37px;
  margin: 20px 0 0;
  outline: none;
  padding: 6px 205px 5px 5px;
  width: 100%
}

.switch {
  display: inline-block;
  height: 34px;
  margin: 0 10px 0 0;
  position: relative;
  width: 60px
}

.switch-wrapper {
  align-items: center;
  display: flex;
  font-size: 20px
}

.switch input {
  display: none
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0
}

.slider,
.slider:before {
  position: absolute;
  transition: .4s
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  width: 26px
}

input:checked+.slider {
  background-color: #0dcbf0;
  background-color: var(--color-main)
}

input:focus+.slider {
  box-shadow: 0 0 1px #0dcbf0;
  box-shadow: 0 0 1px var(--color-main)
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px)
}

.slider.round {
  border-radius: 34px
}

.slider.round:before {
  border-radius: 50%
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

/*# sourceMappingURL=main.f1ebed94.css.map*/